/* Add CSS styling here */

/* ----------Global ---------- */
strong {
    font-weight: 700;
}
h1{
    font-size: 3rem;
}
h2 {
    font-size: 1.5rem;
}
body {
    font-family: sans-serif;
    background-color: lightgray;
}
html {
    scroll-behavior: smooth;
}
/* ----------Global ---------- */

/* ----------Header ----------*/

.siteHeader 
{
    display:flex;
    justify-content: center;    
    padding: 0%;
    margin: auto;
    
}
.siteHeader__item{
    text-align: center;
}

.siteHeader_section-left 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.siteHeader__section_right {
    display: flex; 
    font-size: 1rem;
    text-align: center;
    justify-content: center;

}

.navbar-button {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.9rem;
    padding: 0.625rem;
    width: 9.3rem;
    height: 3.75rem;
    text-transform: capitalize;
    border: 3px black solid;
    background-color:  #00CCBE; 
    margin: 1rem auto;
}
/* -----x----Header-----x---- */

/* ---------- Main ---------- */
body{
    width: 80%;
    margin: 4rem auto;
    display: flex;
    font-family: 'Playfair Display', serif;;
    justify-content: space-around;
    flex-direction: column;
}
/* ---------- Introduction---------- */
.title{
    display: flex;
    justify-content: center;
}
.mountain img {
    height: 50%;
    width: 100%;
    margin: auto;
    
}
.text {
    margin-top: 2rem;
    padding-left: 2rem;
}
.text h1 {

    text-align: center;
}

.text h1 strong {
    color: #00CCBE;
}

.text blockquote {
    margin-top: 2rem;
    text-align: center;
    line-height: 1.5;
}


.navbar-button:hover {
    filter: brightness(120%);
    cursor: pointer;
}


/* -----x----Photos-----x---- */ 
/* width of whole container needs adjusting */
.photos {
        border: 1px solid black;
        vertical-align: top;
        display: flex;
        justify-items: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        text-align: start;
        width: auto;
        padding: 0%;
        margin: auto;
}

.photos img {
    border: 1px solid black;
    height: auto;
    width: 80%;
    }

.photo {
    
    margin: auto;
    padding: 2rem;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
}

.caption {
    display: flex;
    justify-content: center;
    text-align: start;
    color: red;
    width: 28%;
}

/* ----x----footer----x------ */

footer {
    text-align: center;
    background-color: darkgray; 
    padding: 10%;
    height: auto;
    width: 80%;
}

footer h3 {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.social-button {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.9rem;
    padding: 0.625rem;
    width: 9.3rem;
    height: 3.75rem;
    text-transform: capitalize;
    border: 3px black solid;
    background-color:  #00CCBE; 
    margin: 1rem auto;
}

.contact-button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

/* Style all font awesome icons */
.accounts {
    justify-content: center;
}


.fab {
    border: 1px solid lightgray;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fab:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */

  /* GitHub */
  .fa-github{
        color:white;
        background-color: #6ebce0; 
  }

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  /* **MEDIA QUERRIES CSS** */

  /* TABLET SIZE */
  @media all and ( max-width : 800px){


  }

  @media all and (max-width: 500px) {

  }